.img-fluid {
    /*max-width: 300px;*/
    margin: 10px 2px 10px;
    max-width: 1200px;
    width:100%;
}

.card{
    max-width: 80%;
    background-color: ghostwhite;
    border-color: ghostwhite;
}

.card-title{
    font-weight: bold;
}

.card-subtitle{
    color: #5f5f5f;
}

.card-subtitle-author{
    color: #487284;
}